html, body{
    min-height: 100vh;
    margin: 0;
    background-color: #262121;
}

.allContentContainer{
    width: max-content;
    padding: 10px;
}

.allContentContainer h1{
    text-align: center;
}

.headerGrid{
    display: grid;
    grid-template-columns: repeat(2, max-content);
    column-gap: 40px;
    margin-bottom: 20px;
}

.headerGrid h2{
    text-align: center;
}

.studentInputGrid {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    column-gap: 20px;
    row-gap: 5px;
    text-align: right;
    justify-items: end;
    outline: 1px solid cyan !important;
    outline-offset: 1px;
    background-color: blue;
    padding: 10px;
    border-radius: 10px;
}

.input{
    width: 100px;
}

.gradeInput{
    width: 50px;
}

.metricGridContainer{
    display: grid;
    grid-template-columns: repeat(2, max-content);
    column-gap: 5px;
    row-gap: 5px;
    text-align: right;
    background-color: #695D5D;
    padding: 10px;
}

.studentContainerFrame{
    background-color: aquamarine;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}

.studentContainerFrame h2 {
    margin-top: 0;
    margin-bottom: 5;
}

.studentGridContainer{
    display: inline-grid;
    grid-template-columns: repeat(4, max-content);
    column-gap: 50px;
    row-gap: 10px;
    padding: 10px;
    border: 5px solid blue;
    width: 100%;
    box-sizing: border-box;
}

.studentGridColumnHeader{
    padding-right: 10px
}

.errorBlock{
    margin-top: 20px;
    margin-bottom: 50px;
    font-weight: bold;
    color: red;
}

.submitButton{
    margin-top: 20px;
    width: 100px;
    justify-self: end;
    grid-column: span 2;
}


